body{

}

#myCanvas{
	background: lightgrey;
	padding: 0;
    margin: auto;
	margin-top: 75px;
    display: block;
    width: 900px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1{
	text-align: center;
}

#Game-Info{
	position:relative;
	float: right;
	border: 1px solid black;
	width: 110px;
	height: 100px;
	top: 110px;
	right: 20px;
	background: white;
}

p{
	text-indent: 5px;
}
p#Turn{
	margin-top: 3px;
}

p#rWins{
	margin-top: -13px;
}

p#yWins{
	margin-top: -13px;
}

button#resetButton{
	width: 75%;
	height: 25px;
	border-radius: 5px;
	border:2px solid #696969;
	outline: none;
}

#games-container{
	position: relative;
	float: left;
	border: 1px solid black;
	width: 120px;
	height: 92px;
	top: 21px;
	background: white;
	left: 30px;
}
p#games{
	text-decoration: underline;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -3px;
	margin-top: 3px;
}
p#oddlect{
	text-indent: 5px;
	margin-top: 5px;
	//padding-top: 5px;
	
	//border: 1px solid black;
}

p#simon{
	text-indent: 5px;
	margin-top: -15px;
	margin-bottom: 15px;
}

p#soon{
	text-indent: 5px;
	margin-top: -15px;
	margin-bottom: 15px;
	font-style: italic;
}

#test{
	margin-top: -10px;
}

a:link{
	color: blue;
	text-decoration: none;
}

a:visited{
	color: blue;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: red;
}

a:active{
	text-decoration: underline;
	color: purple;
}